<span class="xsmall" style="line-height=2px;">
	{% for p in people.slice(0,limit) %}
	🎂&ensp;{{p.name}} 
	{% if p.days == 0 %}
	is {{p.age}} today!!!
	{% else %}
	will be {{p.age}} in {{p.days}} days!&ensp;({{p.date}})
	{% endif %}
	</br>	
	{% endfor %}
</span>
